body {
    line-height: 1.6;
    font-size: 112.5%;
}

/* Based on https://jrl.ninja/etc/1/ */
/* Default for smaller screens (mobile portrait, smaller tablets) */
main {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
}

@media (min-width: 768px) {
    main {
        max-width: 85ch;
    }
}

.tab-container {
    /* max-width: 600px; */
    /* margin: 50px auto; */
}

.tab-buttons {
    display: flex;
    /* border-bottom: 2px solid #ccc; */
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab-button.active {
    background-color: #ddd;
}

.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

#import input[type="url"],
#edit textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;
}

#renderedRecipeView img {
    max-width: 100%; /* Ensure image doesn't overflow its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 160px;
}

#renderedRecipeView {
    color: #4a4a4a;
}

.ingredient {
    color: #000000;
    font-weight: bold;
}

.quantity {
    color: #000000;
}

.duration {
    color: #b85c00;
}

@media print {
    main {
        max-width: 100% !important;
        padding: 0 !important;
    }

    .tab-buttons {
        display: none;
    }

    #view {
        border: none !important;
        padding: 0 !important;
    }
}
